<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="six_dof_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import six_dof_arm urdf file -->
    <xacro:include filename="$(find six_dof_arm)/urdf/six_dof_arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="six_dof_arm.ros2_control.xacro" />


    <xacro:six_dof_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
